.sign-in {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}
.row {
  border: none;
  padding: 2px 5px;
}
.header {
  width: 1200px;
  height: 520;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 90px 70px 90px;
  background-color: rgb(198, 228, 214);
  margin: 0 auto;
  border-radius: 15px;
}
.header-title {
  font-size: 50px;
  font-weight: 600;
}
.btn {
  color: white;
  background-color: rgb(0, 106, 80);
  padding: 10px;
  border: none;

  border-radius: 3px;
}
.circuit {
  /* width: 300px;
  height: 240px;
  padding: 30px; */
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 50px;
  gap: 20px;
}
.circuit-content {
  background-color: rgb(246, 242, 236);

  padding: 30px;
  border-radius: 10px;
}
.electricity {
  height: 500px;
  width: 1220px;
  margin-left: 100px;
  justify-content: space-around;
}
.global-sector {
  display: flex;
  border-radius: 20px;
  margin: 20px;
  /* background-color: aliceblue; */
}
.global-content1 {
  background-color: rgba(84, 144, 245, 0.2);
  margin-right: 20px;
  height: 300px;
  width: 500px;
  margin: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.learn {
  background-color: rgb(84, 144, 245);
  padding: 10px;
  border-radius: 5px;
}
.learn:hover {
  background-color: gray;
}
.global-content2 {
  background-color: rgb(198, 228, 214);
  margin-right: 20px;
  height: 300px;
  width: 500px;
  margin: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.learn1 {
  background-color: rgb(9, 161, 92);
  padding: 10px;
  border-radius: 5px;
}
.learn1:hover {
  background-color: gray;
}
.global-content3 {
  background-color: rgb(247, 235, 207);
  margin-right: 20px;
  height: 300px;
  width: 500px;
  margin: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.learn2 {
  background-color: rgb(255, 194, 57);
  padding: 10px;
  border-radius: 5px;
}
.learn2:hover {
  background-color: gray;
}

.challenges {
  justify-content: center;
  margin-left: 100px;
  margin: 100px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-color: beige;
  padding: 30px;
  border-radius: 20px;
}
.opinion {
  display: flex;
  gap: 50px;

  justify-content: space-between;
  border: 1px solid black;
  margin-left: 100px;
  margin-right: 100px;
  /* margin: 30px; */
}

.opinion-title,
h1 {
  margin-left: 100px;
}
.new-btn {
  padding: 5px 10px;
  margin: 10px;
  background-color: rgb(198, 228, 214);
}
.king {
  background-color: rgb(198, 228, 214);
}
.main-opinion {
  margin-bottom: 40px;
}
.govern {
  background-color: aqua;
}
.satelite {
  background-color: bisque;
  display: flex;
  border-radius: 10px;
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 50px;
}
.satelite-img {
  border-radius: 10px;
  margin-right: 30px;
}
.satelite-content {
  gap: 20px;
}
.sate-title {
  margin-left: 100px;
}
.riona {
  margin-left: 100px;
}
.donate {
  /* max-width: 1000px; */
  /* margin: 100px auto; */
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  background-color: gainsboro;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
}
.donation {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.donate-btn {
  padding: 10px 15px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.donate-btn:hover {
  background-color: aquamarine;
}
.amount {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.subscribe {
  padding: 20px;
  text-align: center;
  background-color: aqua;
  border-radius: 10px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.form {
  display: flex;
  /* justify-content: space-between; */
  margin: 20px 0;
  justify-content: center;
  border-radius: 10px;
}
.email {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  margin-left: 200px;
}
.btn:hover {
  background-color: burlywood;
  color: black;
}
.last-part {
  /* justify-content: center; */
  text-align: center;
}
.icon-img {
  margin: 20px;
}
